body {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;

}  
.button, .btn {
    display: inline-block;
    position: relative;
    color: white; 
    outline: none;
    background: transparent;
    border: none;
    border-radius: .2em;
    letter-spacing: 0.06em;
    padding: 8px 10px;
    text-transform: uppercase;
    font: bold 16px sans-serif; 
    line-height: 2;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: all .4s;
  
    &:hover {
      transition: all .4s;
    }
  }

  .button::before,
  .button::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #1f8eed; /* hover background color */
    z-index: -1;
    transition: all .4s;
  }

  .button::before{
    background: #00ccff; // background-color
    z-index: -2;
  }

  .button:hover::after {
    transition: all .4s;
  }

  /* //// SLIDE //// */
  .slidedown::after {
      transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
  }

  .slidedown:hover::after {
      transform: translate3D(0,0,0);
  }


  .slideleft::after {
      transform: translate3D(-101%,0,0);
  }

  .slideleft:hover::after {
      transform: translate3D(0,0,0);
  }

  .slidebottomleft::after{
    transform: translate3D(-100%,100%,0);
  }

  .slidebottomleft:hover::after{
    transform: translate3D(0,0,0);
  }

  /* //// ANGLE  //// */


  .angleinleft::after{
    width: 200%;
    transform-origin: left bottom;
    transform: translate3D(-50%,0,0) rotate(-50deg);
  }

  .angleinleft:hover::after{
    transform: rotate(0deg);
  }


  .angleindouble{
    background-color: rgba(31, 142, 237, 0.6);
  }

  .angleindouble::before{
    top: 0;
    left: 0;
    width: 150%;
    background: #1f8eed;
    transform-origin: left bottom;
    transform:  translateX(-100%) rotate(-30deg);
  }

  .angleindouble::after{
    top: 0;
    left: auto;
    right: 0;
    width: 150%;
    transform-origin: right bottom;
    transform: translateX(100%) rotate(30deg);
  }

  .angleindouble:hover::before{
    left: 0;
    transform: rotate(0deg);
  }

  .angleindouble:hover::after{
    right: 0;
    transform: rotate(0deg);
  }

  .doubletake {
    background-color: rgba(31, 142, 237, 0.6);
  }
  .doubletake::before,
  .doubletake::after{
    width: 200%;
    background: #1f8eed;
    transform-origin: 0 bottom;
    transform: translate3D(-50%,0,0) rotate(-50deg);
  }

  .doubletake:before{
    opacity: .4;
  }

  .doubletake:hover:before,
  .doubletake:hover:after{
    transform: rotate(0deg);
  }

  .doubletake:hover:after{
    transition-delay: .25s;
  }


  /* //// Add a bounce effect  with class bouncein//// */

  .bouncein:hover::before,
  .bouncein:hover::after{
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
  }


  /* //// CURTAIN  //// */

  .curtaindown {
    background-color: rgba(31, 142, 237, 0.6);
  }

  .curtaindown::before {
    background: #1f8eed;
    transform: translate3D(0,-100%,0);
  }

  .curtaindown::after {
    background: #1f8eed;
    transform: translate3D(0,100%,0);
  }

  .curtaindown:hover::before {
    transform: translate3D(0,-50%,0);
  }

  .curtaindown:hover::after {
    transform: translate3D(0,50%,0);
  }

  .curtainup {
    background-color: rgba(31, 142, 237, 0.6);
  }

  .curtainup::before,
  .curtainup::after{
    transform-origin: center center;
    transform: scale(1,0);
  }


  .curtainup:hover::before,
  .curtainup:hover::after{
    transform: scale(1);
    border-radius: 0;
  }

  .curtaincenter:after{
    transform-origin: center center;
    transform: scale(0);
  }

  .curtaincenter:hover:after{
    transform: scale(1);
  }


  /* //// GRADIENT  //// */

.lineargradientx {
  background-image: linear-gradient(
    90deg,
    #1f8eed  0%,
    #00CCFF 51%,
    #1f8eed
  );
  background-size: 200% auto;
}

.lineargradientx:hover {
  background-position: 100%;
}

.lineargradienty {
  background-image: linear-gradient(
    0deg,
    #1f8eed  0%,
    #00CCFF 51%,
    #1f8eed
  );
  background-size: auto 200%;
}

.lineargradienty:hover {
  background-position: 100%;
}

.radialgradientin {
  background-image: radial-gradient(
    #1f8eed,
    #00CCFF,
    #d8f7ff
  );
  background-size: 200% 200%;
  background-position: center;
}

.radialgradientin:hover {
  background-size: 100% 100%;
}

.radialgradientout {
  background-image: radial-gradient(
    #1f8eed,
    #00CCFF,
    #d8f7ff
  );
  background-size: 100% 100%;
  background-position: center;
}

.radialgradientout:hover {
  background-size: 200% 200%;
}

/* //// BORDER  //// */
.borderin {
  color: #00CCFF;
  border-radius: 0;
  letter-spacing: 2px;
}

.borderin::before,
.borderin::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background: #00CCFF;
  transform: scaleX(0);
  transform-origin: center;
  transition: all .4s;
}
    
.borderin::before{
  top: 0;
}
    
.borderin::after{
  bottom: 0;
}
    
.borderin:hover::before,
.borderin:hover::after{
  transform: scaleX(1);
}

.borderout {
  color: #00CCFF;
  border-radius: 0;
  letter-spacing: 2px;
}

.borderout::before,
.borderout::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background: #00CCFF;
  transform: scaleX(1);
  transform-origin: center;
  transition: all .4s;
}
    
.borderout::before{
  top: 0;
}
    
.borderout::after{
  bottom: 0;
}
    
.borderout:hover::before,
.borderout:hover::after{
  transform: scaleX(0);
}

.bordersurround {
  color: #00CCFF;
  border-radius: 0;
  overflow: visible;
}

.bordersurround::before {
  content:'';
  position:absolute;
  width:calc(100% + 10px);
  height:calc(100% + 10px);
  top: -5px;
  left:-5px;
}

.color::before {
  background:linear-gradient(to right, #00CCFF 0%, #00CCFF 100%), linear-gradient(to top, #00CCFF 50%, transparent 50%), linear-gradient(to top, #00CCFF 50%, transparent 50%), linear-gradient(to right, #00CCFF 0%, #00CCFF 100%), linear-gradient(to left, #00CCFF 0%, #00CCFF 100%);
  background-size:100% 5px, 5px 200%, 5px 200%, 0% 5px, 0% 5px;
  background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  transition:transform .4s ease-in-out, background-position .4s ease-in-out, background-size .4s ease-in-out;
  transform:scaleX(0) rotate(180deg);
  transition-delay:.8s, .4s, 0s;
}

.color:hover::before {
  background-size:200% 5px, 5px 400%, 5px 400%, 55% 5px, 55% 5px;
  background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform:scaleX(1) rotate(180deg);
  transition-delay:0s,.4s, .8s;
}

.colors::before {
   mask:linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
  mask-size: 100% 5px, 5px 200%, 5px 200%, 0% 5px, 0% 5px;
  mask-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
  mask-repeat: no-repeat, no-repeat;
  transition:transform .4s ease-in-out, mask-position .4s ease-in-out, mask-size .4s ease-in-out;
  transform:scaleX(0) rotate(0);
  transition-delay:.8s, .4s, 0s;
  background: linear-gradient(to bottom, #1f8eed, #00CCFF);
}

.colors:hover::before {
  mask-size: 200% 5px, 5px 400%, 5px 400%, 55% 5px, 55% 5px;
  mask-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(0);
  transition-delay:0s, .4s, .8s;
}

.erase::before {
  background:linear-gradient(to right, #00CCFF 0%, #00CCFF 100%), linear-gradient(to top, #00CCFF 50%, transparent 50%), linear-gradient(to top, #00CCFF 50%, transparent 50%), linear-gradient(to right, #00CCFF 0%, #00CCFF 100%), linear-gradient(to left, #00CCFF 0%, #00CCFF 100%);
  background-repeat: no-repeat, no-repeat;
   background-size: 200% 5px, 5px 400%, 5px 400%, 55% 5px, 55% 5px;
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform:scaleX(1) rotate(0);
  transition:transform .4s ease-in-out, background-position .4s ease-in-out, background-size .4s ease-in-out;
  transition-delay: 0s,.4s, .8s;
}

.erase:hover::before {
    background-size:100% 5px, 5px 200%, 5px 200%, 0% 5px, 0% 5px;
    background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    transform:scaleX(0) rotate(0);
    transition-delay:.8s, .4s, 0s;
}

  /* //// underline clip  //// */

.underline-container {
  display: inline-block;
  position: relative;
  
  &::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 12px;
  background: #1f8eed;
  bottom: 10px;
  transition: all 0.2s ease-out;
  }
  
  &:hover::before {
    transform: translateY(12px);
  }
  .underline {
  cursor: pointer;
  position: relative;
  font-size: 3rem;
  background: linear-gradient(to top, #1f8eed, #1f8eed 10px, #00CCFF 10px, #00CCFF 22px, #1f8eed 22px, #1f8eed 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
    
    &:hover {
        background-position: 0 10px;
    }
  }
}
